.list {
    list-style: none;

}

.card {
    width: 95vw;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.infected {
    border-bottom: 10px solid rgba(255, 217, 0, 0.5);
}

.recovered {
    border-bottom: 10px solid rgba(0, 255, 34, 0.5);
}

.deaths {
    border-bottom: 10px solid rgba(255, 0, 0, 0.5);
}