* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(248, 248, 248);
}

.container {
    display: grid;
    grid-template-areas:
    "side cards cards"
    "side main main";
    height: 100vh;
    width: 100vw;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr 4fr;
    overflow: hidden;
}

.sidebar {
    margin-top: 65px;
    grid-area: side;
}

.header {

}

.cards {
    margin-top: 65px;
    margin-bottom: 0;
    padding-bottom: 0;
    grid-area: cards;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 1rem;
    grid-area: main;
    display: flex;
    justify-content: center;
}