.container {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    background-color: #2c3e50;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    height: 65px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.icon {
    height: 35px;
    cursor: pointer;
    transition: transform 0.1s ease;
}

.rotate {
    transform: rotate(-90deg);
}

@media only screen and (min-width: 900px) {
    .icon {
        display: none;
    }
}